<%= provide :title, "Home"%>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> | Oversource</title>
</head>
<body>
  <h1>Sample App</h1>
  <p>
    This is the home page for the Oversource application.
  </p>
</body>
</html>